@model IEnumerable<Data.Models.User>
@using Data.Models
@using Data.Services.Implements
@using Data.Services.Interfaces
@using Newtonsoft.Json
@{
     HttpClient _httpClient = new HttpClient();
    string apiUrl = "https://localhost:7158/api/Role";
    var response = await _httpClient.GetAsync(apiUrl);
    string apidata = await response.Content.ReadAsStringAsync();
    var roles = JsonConvert.DeserializeObject<List<Role>>(apidata);
    ViewData["lstrole"] = new SelectList(roles, "Id", "Id");
    ViewData["Title"] = "GetAllUsers";
}

<h1>GetAllUsers</h1>

<p>
    <a asp-action="AddUsers">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @foreach (var role in ViewData["lstrole"] as SelectList)
                    {
                        if (role.Value == item.IdRole.ToString())
                        {
                            @role.Text;
                        }
                    }
            </td>
            <td>
                <a asp-action="EditsUse" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsUse" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeletesUse" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>




