@model IEnumerable<Data.Models.Screen>

@{
    ViewData["Title"] = "GetAllScreens";
}

<h1>GetAllScreens</h1>

<p>
    <a asp-action="AddSc">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KichCo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatLieu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichCo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu)
            </td>
            <td>
                <a asp-action="Edits" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Deletes" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
