@using Data.Models.ViewModels;
@using Data.Models;
@{
    ViewData["Title"] = "Home Page";
    var listImage =(List<Image>)ViewBag.listImageIndex;
    List<string> imageExtensions = new List<string>()
    {
        ".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf", ".psv"
    };
}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner fixslideshow">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="./UploadImages/bannerzenbookq409.jpg" class="d-block w-100"
                 alt="/UploadImages/banner acer nitro 5.jpg">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="./UploadImages/bannerlegion5.jpg" class="d-block w-100" alt="/UploadImages/banner insprin.jpg">
        </div>
        <div class="carousel-item">
            <img src="./UploadImages/banner insprin.jpg" class="d-block w-100"
                 alt="/UploadImages/bannerzenbookq409.jpg">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



 <h2>Top sản phẩm bán chạy <span class="badge badge-secondary">Hot</span></h2>

<div class="row">
    @foreach (var t in (List<ProductDetailView>)ViewBag.listProductDetailIndex)
    {
        <div class="col-md-3">

            <div class="thumbnail"> 
                <p >
                    @{
                        var imageX = listImage.FirstOrDefault(x => x.IdProductDetail == t.Id);
                        var linkImage ="";
                        if(imageX != null)
                        {
                            linkImage = imageX.LinkImage;
                        }
                        var a = System.IO.Path.GetExtension(linkImage);
                    }
                    @if (@imageExtensions.Contains(a.Trim()))
                    {
                        <img src="/UploadImages/@linkImage" alt="Lights" style="width:300px; height: 260px;">
                    }
                    else
                    {
                    <p>Sản phẩm chưa có ảnh</p>
                    <img src="/UploadImages/matcuoi.jpg" alt="Lights" style="width:270px; height: 230px;">
                    }
                <div class="caption">
                    <center>
                        <a asp-controller="Home" asp-action="ShowChiTietSanPham" asp-route-id="@t.Id">[Mới 100%]@t.NameProduct (@t.NameCpu, @t.ThongSoRam,@t.ThongSoHardDrive,@t.TenCardVGA,@t.TenManHinh)  </a><br>
                   <strong><a style="color: red;"> $@t.Price </a></strong>
                      @*  <del><a style="color:dimgray;">{{t.oldPrice}}đ</a></del>*@
                    </center>
                </div>                     
            </p> 
        </div>  

    </div>
  }
</div>
<h2>Sản phẩm mới nhất <span class="badge badge-secondary chumaudo">New</span></h2>
<div class="row">
    @foreach (var t in (List<ProductDetailView>)ViewBag.listProductDetailIndex)
    {
    <div class="col-md-3">
       
        <div class="thumbnail"> 
            <p >     
                <div class="caption">
                    <center>
                            <a asp-controller="Home" asp-action="ShowChiTietSanPham" asp-route-id="@t.Id">[Mới 100%]@t.NameProduct (@t.NameCpu, @t.ThongSoRam,@t.ThongSoHardDrive)  </a>
                      @*  <del><a style="color:dimgray;">{{t.oldPrice}}đ</a></del>*@
                    </center>
                </div>                     
            </p> 
        </div>  

    </div>
  }
</div>